<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/7.3/phpunit.xsd"
         bootstrap="tests/bootstrap.php"
         forceCoversAnnotation="true"
         beStrictAboutCoversAnnotation="true"
         beStrictAboutOutputDuringTests="true"
         beStrictAboutTodoAnnotatedTests="true"
         verbose="true">
    <testsuites>
        <testsuite name="default">
            <directory suffix="AssetTest.php">AssetTest</directory>
            <directory suffix="BulkAssetsTest.php">BulkAssetsTest</directory>
            <directory suffix="ProductsTest.php">ProductsTest</directory>
            <directory suffix="PropertyTest.php">PropertyTest</directory>
            <directory suffix="ImageTransformationTest.php">ImageTransformationTest</directory>
            <directory suffix="HTMLHelperTest.php">HTMLHelperTest</directory>

        </testsuite>
    </testsuites>

    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">src</directory>
        </whitelist>
    </filter>
</phpunit>
